body {
    overflow: hidden;
}
.tangram--myriam {
    transform: scale(1.2);
    transition: 2s;
}
.tangram--myriam .figure1 {
    transform: rotate(0deg) translate(508px,224px);
    transition: transform 2s;
}
.tangram--myriam .figure2 {
    transform: rotate(135deg) skew(-45deg) translate(-5px,-201px);
    transition: transform 2s;
}
.tangram--myriam .figure3 {
    transform: rotate(0deg) translate(540px,40px);
    transition: transform 2s;
}
.tangram--myriam .figure4 {
    transform: rotate(225deg) translate(-527px,228px);
    transition: transform 2s;
}
.tangram--myriam .figure5 {
    transform: rotate(135deg) translate(-453px,-770px);
    transition: transform 2s;
}
.tangram--myriam .figure6 {
    transform: rotate(225deg) translate(-663px,365px);
    transition: transform 2s;
}
.tangram--myriam .figure7 {
    transform: rotate(90deg) translate(100px,-266px);
    transition: transform 2s;
}